.col-lg-6
  .question-section.login-section
    .review-form.box-shadows
      .review-form-text
        h5.comment-title Get In Touch
        img(src="/clients/images/homepage-one/vector-line.png", alt="img")
      .account-inner-form
        .review-form-name
          label.form-label(for="fname") Name*
          input#fname.form-control(type="text", placeholder="Name")
        .review-form-name
          label.form-label(for="email") Email*
          input#email.form-control(type="email", placeholder="user@gmail.com")
        .review-form-name
          label.form-label(for="subject") Subject*
          input#subject.form-control(type="text", placeholder="Subject")
      .review-textarea
        label(for="floatingTextarea") Massage*
        textarea#floatingTextarea.form-control(placeholder="Write Massage...........", rows="3")
      .login-btn
        a.shop-btn(href="#") Send Now
