.cart-submenu
  .cart-wrapper-section
    .wrapper-line
    .wrapper-subtotal
      h5.wrapper-title Total Products
      h5.wrapper-title #{miniCart.totalQuantity}
    .cart-btn
      a.shop-btn.view-btn(href=`/cart/`) View Cart
      a.shop-btn.checkout-btn(href="checkout.html") Checkout Now
