.header-bottom.d-lg-block.d-none
  .container
    .header-nav
      .header-nav-menu-section
        include ./category-menu-section
        include ./header-nav-menu
        <a href="/auth/login" class="shop-btn">
          | User Login
        </a>    