extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(message, 5000)
  +alert-error(message, 5000)

  include ../../partials/hero-section.pug
  include ../../partials/product-category/product-category.pug
  include ../../partials/product-fresh/product-fresh.pug
  include ../../partials/top-selling/top-selling.pug
  include ../../partials/best-product/best-product.pug

