section.blog.about-blog
    .container
        .blog-bradcrum
            span
                a(href="/") Home
            span.devider /
            span
                a(href="") Detail Order
        .blog-heading
            h1.heading Detail Order #{order._id}
