section.product.popular-sale.footer-padding
  .container
    .section-title
      h3 Popular Sales
      a(href="product-sidebar.html" class="view") View All

    .popular-sale-section
      .row.g-5
        .col-lg-4.col-sm-6
          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-26.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-29.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-31.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-34.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99
        .col-lg-4.col-sm-6
          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-26.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-29.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-31.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-34.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99
        .col-lg-4.col-sm-6
          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-26.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-29.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-31.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99

          .product-wrapper(data-aos="fade-up")
            .product-img
              img(src="clients/images/homepage-one/product-img/p-img-34.webp" alt="product-img")
            .product-info
              .product-description
                a(href="product-info.html" class="product-details") Fresh Red Tomatos
                .price
                  span.price-cut $12.99
                  span.new-price $6.99
