section.latest.product.footer-padding
    .container
        .section-title.text-center
            h4.about-details My Latest News
        .latest-section
            .row.g-5
                include ./lastest-new.pug
