.row
  .col-xl-8.col-lg-7
    .card
      .card-header
        h4.card-title About
      .card-body
        p I'm the model of the new Project Head Manager. I've combined a deep background in brand management at blue chip CPG companies with eCommerce growth marketing at the world's biggest retailer. I've run SingleFire I've created world-class campaigns; I've built digital marketing organizations from the ground up. I have over 20 years' experience leading... 
          a.text-primary(href="#!") See more
        h4.card-title.mb-2 My Approach :
        p When it comes to Project Head Manager, I believe in a holistic approach that combines creativity with technical expertise. I start by understanding your unique vision and goals, then work tirelessly to bring that vision to life. Whether you need a sleek portfolio site, an engaging e-commerce platform, or anything in between, I've got you covered.
        .row.g-2.mt-2.mb-4
          .col-lg-6
            .border.p-3.rounded
              h4.card-title Marketing expertise
              .d-flex.gap-2.flex-wrap.mt-3
                span.badge.bg-body.text-muted.px-2.py-1.fs-12 #Leadership
                span.badge.bg-body.text-muted.px-2.py-1.fs-12 #Advertising
                span.badge.bg-body.text-muted.px-2.py-1.fs-12 #Public-relations
                span.badge.bg-body.text-muted.px-2.py-1.fs-12 #Branding-manage
              p.mb-0.text-dark.mt-3 Open to networking :
                span.badge.bg-success-subtle.text-success.ms-1 Yes
          .col-lg-6
            .border.p-3.rounded
              h4.card-title Marketing interests
              .d-flex.gap-2.flex-wrap.mt-3
                span.badge.bg-body.text-muted.px-2.py-1.fs-12 #Event-marketing
                span.badge.bg-body.text-muted.px-2.py-1.fs-12 #Performance-marketing
                span.badge.bg-body.text-muted.px-2.py-1.fs-12 #Account-based-marketing
              p.mb-0.text-dark.mt-3 Open to advising :
                span.badge.bg-success-subtle.text-success.ms-1 Yes
        h4.card-title My Core Skills :
        .row.mt-2
          .col-lg-4
            .d-flex.align-items-center.justify-content-start.gap-2
              ul.d-flex.text-warning.m-0.fs-20.list-unstyled
                li: i.bx.bxs-star
                li: i.bx.bxs-star
                li: i.bx.bxs-star
                li: i.bx.bxs-star
              p.fw-medium.mb-0.text-dark.fs-15 Inbound Marketing
          .col-lg-4
            .d-flex.align-items-center.justify-content-start.gap-2
              ul.d-flex.text-warning.m-0.fs-20.list-unstyled
                li: i.bx.bxs-star
                li: i.bx.bxs-star
                li: i.bx.bxs-star
              p.fw-medium.mb-0.text-dark.fs-15 Entrepreneurship
          .col-lg-4
            .d-flex.align-items-center.justify-content-start.gap-2
              ul.d-flex.text-warning.m-0.fs-20.list-unstyled
                li: i.bx.bxs-star
                li: i.bx.bxs-star
              p.fw-medium.mb-0.text-dark.fs-15 Growth Marketing

  .col-xl-4.col-lg-5
    .row
      .col-lg-6
        .card
          .card-body.text-center
            .avatar.bg-info.d-flex.align-items-center.justify-content-center.rounded.mx-auto.mb-2
              iconify-icon.fs-34.text-white(icon="solar:cup-star-bold")
            h3.mb-1 +12
            p.mb-0.fw-semibold.fs-16 Achievements
      .col-lg-6
        .card
          .card-body.text-center
            .avatar.bg-info.d-flex.align-items-center.justify-content-center.rounded.mx-auto.mb-2
              iconify-icon.fs-34.text-white(icon="solar:medal-star-circle-bold-duotone")
            h3.mb-1 +24
            p.mb-0.fw-semibold.fs-16 Accomplishments
    .card.overflow-hidden.z-1
      .card-body.text-center
        h4.card-title.mb-2 Share your profile
        p.text-muted Now that your agency is created, go ahead and share it to start generating leads.
        img.avatar-xl(src="/admin/images/qr-code.png", alt="")
        ul.list-inline.d-flex.gap-1.my-3.align-items-center.justify-content-center
          li.list-inline-item
            a.btn.btn-soft-primary.avatar-sm.d-flex.align-items-center.justify-content-center.fs-20(href="javascript: void(0);")
              i.bx.bxl-facebook
          li.list-inline-item
            a.btn.btn-soft-danger.avatar-sm.d-flex.align-items-center.justify-content-center.fs-20(href="javascript: void(0);")
              i.bx.bxl-instagram
          li.list-inline-item
            a.btn.btn-soft-info.avatar-sm.d-flex.align-items-center.justify-content-center.fs-20(href="javascript: void(0);")
              i.bx.bxl-twitter
          li.list-inline-item
            a.btn.btn-soft-success.avatar-sm.d-flex.align-items-center.justify-content-center.fs-20(href="javascript: void(0);")
              i.bxl-whatsapp
          li.list-inline-item
            a.btn.btn-soft-warning.avatar-sm.d-flex.align-items-center.justify-content-center.fs-20(href="javascript: void(0);")
              i.bx.bx-envelope
        p.text-muted Copy the URL below and share it with your friends:
        p.d-flex.align-items-center.border.p-2.rounded-2.border-dashed.bg-body.text-start.mb-0 
          | https://larkon-mileage.com 
          a.ms-auto.fs-4(href="#!") 
            i.ti.ti-copy
