.col-lg-3
  .sidebar(data-aos="fade-right")
    .sidebar-section.box-shadows
      form#filterForm(action="/products" method="POST")
        include ./sidebar-top.pug
        include ./sidebar-range.pug
        button(type="submit" class="btn btn-primary btn-block")
          h3.wrapper-heading Fillter
        include ./sidebar-trend.pug
      