.sidebar-wrapper.sidebar-range
  h3.wrapper-heading Price Range
  .price-slide.range-slider
    .price
      .range-slider.style-1
        #slider-tooltips.slider-range.mb-3
        span.example-val#slider-margin-value-min
        span -
        span.example-val#slider-margin-value-max
  hr
