extends ../../layouts/default.pug

block main
  section.product.product-sidebar.footer-padding
    .container
      .row.g-5
        include ./sidebar/sidebar.pug
        include ./product-section/product-section.pug
