.sidebar-wrapper
  h3.wrapper-heading Weight
  .sidebar-item
    ul.sidebar-list
      li
        input(type="checkbox" id="small" name="small")
        label(for="small") 500gm
      li
        input(type="checkbox" id="medium" name="medium")
        label(for="medium") 1kg
      li
        input(type="checkbox" id="large" name="large")
        label(for="large") 2kg
      li
        input(type="checkbox" id="xl" name="xl")
        label(for="xl") 5kg
      li
        input(type="checkbox" id="2xl" name="2xl")
        label(for="2xl") 10kg
