.col-lg-3
  .sidebar(data-aos="fade-right")
    .sidebar-section.box-shadows
        include ./sidebar-top.pug
        include ./sidebar-range.pug
        include ./sidebar-brand.pug
        include ./sidebar-weight.pug
        include ./sidebar-trend.pug