.sidebar-wrapper
  h3.wrapper-heading Product Categories
  .sidebar-item
    ul.sidebar-list
      li
        input(type="checkbox" id="veg" name="veg")
        label(for="veg") Vegetable
      li
        input(type="checkbox" id="fruits" name="fruits")
        label(for="fruits") Fruits
      li
        input(type="checkbox" id="juice" name="juice")
        label(for="juice") Juice
      li
        input(type="checkbox" id="meat" name="meat")
        label(for="meat") Meat
      li
        input(type="checkbox" id="smoothie" name="smoothie")
        label(for="smoothie") Smoothie
      li
        input(type="checkbox" id="bread" name="bread")
        label(for="bread") Bread
      li
        input(type="checkbox" id="seaf" name="seaf")
        label(for="seaf") Sea Foods
      li
        input(type="checkbox" id="petf" name="petf")
        label(for="petf") Pet Foods
      li
        input(type="checkbox" id="grooming" name="grooming")
        label(for="grooming") Milk & Drinks
      li
        input(type="checkbox" id="drinks" name="drinks")
        label(for="drinks") Drinks
      li
        input(type="checkbox" id="protein" name="protein")
        label(for="protein") Protein
  hr
