.sidebar-wrapper
  h3.wrapper-heading Brands
  .sidebar-item
    ul.sidebar-list
      li
        input(type="checkbox" id="thread" name="thread")
        label(for="thread") Refined Threads
      li
        input(type="checkbox" id="ethereal" name="ethereal")
        label(for="ethereal") Ethereal Chic
      li
        input(type="checkbox" id="yellow" name="yellow")
        label(for="yellow") Yellow
      li
        input(type="checkbox" id="esctasy" name="esctasy")
        label(for="esctasy") Esctasy
      li
        input(type="checkbox" id="urban" name="urban")
        label(for="urban") Urban Hive
      li
        input(type="checkbox" id="velvet" name="velvet")
        label(for="velvet") Velvet Vista
      li
        input(type="checkbox" id="boldly" name="boldly")
        label(for="boldly") Boldly Blue
      li
        input(type="checkbox" id="minted" name="minted")
        label(for="minted") Minted Mode
      li
        input(type="checkbox" id="ensemble" name="ensemble")
        label(for="ensemble") Eclectic Ensemble
      li
        input(type="checkbox" id="attire" name="attire")
        label(for="attire") BraveAlchemy Attire
      li
        input(type="checkbox" id="couture" name="couture")
        label(for="couture") Cascade Couture
hr
