section.product-category.product
  .container
    .section-title
      h3 Market Category
      a.view(href="product-sidebar.html") View All
    include ./category-section
    include ./healthy-section