section.about-feedback.product
    .container.p-0
        .section-title
            h3 Customers Feedback

    .position-relative
        .swiper.about-swiper
            .swiper-wrapper
                include ./slider-item.pug
                include ./slider-item.pug
                include ./slider-item.pug
                include ./slider-item.pug
                include ./slider-item.pug
        include ./swiper-button.pug