.div.swiper-buttons
    .swiper-button-prev
        span
            svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M6.76953 12.5388L1.23107 7.00038L6.76953 1.46191" stroke-width="1.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
    .swiper-button-next
        span
            svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M1 1.92308L6.53846 7.46154L1 13" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
