.footer-top-section
  .container
    .row
      .col-lg-4
      .col-lg-8
        .wrapper
          .wrapper-content(data-aos="fade-up")
            h3.wrapper-title
              | Get 
              span.inner-title 20% 
              | Off Discount Coupon
            p.wrapper-paragraph Subscribe to our Newsletter

          .footer-btn(data-aos="fade-right")
            .mail
              .img
                span
                  svg(width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                    // SVG path data goes here
              input(type="text" placeholder="EMAIL ADDRESS")
            a.shop-btn(href="#") Get the Coupon
