div.footer-bottom-section
  .footer-social
    .social-items
      a.social-icon.instagram(href="#")
        span
          svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M12.101 4.89551C12.6532 4.89551 13.101 4.44779 13.101 3.89551C13.101 3.34322 12.6532 2.89551 12.101 2.89551C11.5487 2.89551 11.101 3.34322 11.101 3.89551C11.101 4.44779 11.5487 4.89551 12.101 4.89551Z" fill="#ABABAB")
            path(d="M7.99939 11.9971C5.79939 11.9971 3.99939 10.1971 3.99939 7.99707C3.99939 5.79707 5.79939 3.99707 7.99939 3.99707C10.1994 3.99707 11.9994 5.79707 11.9994 7.99707C11.9994 10.1971 10.1994 11.9971 7.99939 11.9971ZM7.99939 5.99707C6.89939 5.99707 5.99939 6.89707 5.99939 7.99707C5.99939 9.09707 6.89939 9.99707 7.99939 9.99707C9.09939 9.99707 9.99939 9.09707 9.99939 7.99707C9.99939 6.89707 9.09939 5.99707 7.99939 5.99707Z" fill="#ABABAB")
            path(d="M11.9994 15.9971H3.99939C1.89939 15.9971 -0.000610352 14.0971 -0.000610352 11.9971V3.99707C-0.000610352 1.89707 1.89939 -0.00292969 3.99939 -0.00292969H11.9994C14.0994 -0.00292969 15.9994 1.89707 15.9994 3.99707V11.9971C15.9994 14.0971 14.0994 15.9971 11.9994 15.9971ZM3.99939 1.99707C3.09939 1.99707 1.99939 3.09707 1.99939 3.99707V11.9971C1.99939 12.9971 2.99939 13.9971 3.99939 13.9971H11.9994C12.8994 13.9971 13.9994 12.8971 13.9994 11.9971V3.99707C13.9994 3.09707 12.8994 1.99707 11.9994 1.99707H3.99939Z" fill="#ABABAB")
      a.social-icon.facebook(href="#")
        span
          svg(width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M2.99939 15.9971V8.99707H-0.000610352V5.99707H2.99939V3.99707C2.99939 1.29707 4.69939 -0.00292969 7.09939 -0.00292969C8.29939 -0.00292969 9.19939 0.0970703 9.49939 0.0970703V2.89707H7.79939C6.49939 2.89707 6.19939 3.49707 6.19939 4.39707V5.99707H9.99939L8.99939 8.99707H6.29939V15.9971H2.99939Z" fill="#ABABAB")
      a.social-icon.youtube(href="#")
        span
          svg(width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M15.7994 2.79707C15.5994 1.49707 14.9994 0.59707 13.5994 0.39707C11.3994 -0.0029296 7.99939 -0.00292969 7.99939 -0.00292969C7.99939 -0.00292969 4.59939 -0.0029296 2.39939 0.39707C0.99939 0.59707 0.29939 1.49707 0.19939 2.79707C-0.000610352 4.09707 -0.000610352 5.99707 -0.000610352 5.99707C-0.000610352 5.99707 -0.000610352 7.89707 0.19939 9.19707C0.39939 10.4971 0.99939 11.3971 2.39939 11.5971C4.59939 11.9971 7.99939 11.9971 7.99939 11.9971C7.99939 11.9971 11.3994 11.9971 13.5994 11.5971C14.9994 11.2971 15.5994 10.4971 15.7994 9.19707C15.9994 7.89707 15.9994 5.99707 15.9994 5.99707C15.9994 5.99707 15.9994 4.09707 15.7994 2.79707ZM5.99939 8.99707V2.99707L10.9994 5.99707L5.99939 8.99707Z" fill="#ABABAB")
    .copyright
      p ©2024 
        a(href="https://quomodosoft.com/" target="_blank" class="inner-text") Quomodosoft
        | All rights reserved
  .footer-payment-mode
    a(href="#")
      img(src="/clients/images/homepage-one/payment-img.png" alt="img")
