section.blog.about-blog.footer-padding
    .container
        .blog-bradcrum
            span 
                a(href="index-2.html") Home
            span.devider /
            span 
                a(href="#") Wishlist
        .blog-item(data-aos="fade-up")
            .cart-img
                img(src="/clients/images/homepage-one/empty-cart.webp" alt="img")
            .cart-content
                p.content-title Empty! You don’t Cart any Products
                a.shop-btn(href=`/products`) Back to Shop
