section.product.top-selling
  .container
    .section-title
      h3 Top Selling Products
      a.view(href="product-sidebar.html") View All
    .top-selling-section
      .row.g-5
        include ./grocery-section
