.main-nav
  // Sidebar Logo
  .logo-box
    a.logo-dark(href="index.html")
      img.logo-sm(src="/admin/images/logo-sm.png", alt="logo sm")
      img.logo-lg(src="/admin/images/logo-dark.png", alt="logo dark")

    a.logo-light(href="index.html")
      img.logo-sm(src="/admin/images/logo-sm.png", alt="logo sm")
      img.logo-lg(src="/admin/images/logo-light.png", alt="logo light")
  include ./sider-general.pug