section.product.arrival
  .container
    .section-title
      h3 New Arrivals
      a.view(href="product-sidebar.html") View All
    .arrival-section
      .row.g-5
        include ./product-arrival.pug
        include ./modern-grocery-section.pug