extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(message, 5000)
  +alert-error(message, 5000)

  section.blog.about-blog
    .container
      .blog-bradcrum
        span
          a(href="index-2.html") Home
        span.devider /
        span
          a(href="#") Dashboard
      .blog-heading.about-heading
        h1.heading User Dashboard
  include ./user-profile.pug  