.div.tab-content.nav-content(id="v-pills-tabContent", style="flex: 1 0%")
  include ./user-profile-section.pug
  include ./personal-infor.pug
  include ./pay-method.pug
  include ./user-order.pug
  include ./user-wishlist.pug
  include ./user-change-password.pug
  include ./support-ticket.pug