section.user-profile.footer-padding
  .container
    .user-profile-section.box-shadows
      .dashboard-heading
        h5.dashboard-title Change Password
        .dashboard-switch
          span.text Switch Dashboard
          span.switch-icon(onclick="switchDashboard()")
      include ./user-change-sider.pug
       