div.tab-pane.fade(id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab" tabindex="0")
  .row.align-items-center
    .col-lg-6
      .form-section
        form(action="/auth/password/reset?_method=PATCH" method="POST")
          .currentpass.form-item
            label(for="currentpass" class="form-label") Current Password*
            input#currentpass.form-control(type="password" name="currentPassword" placeholder="******" required)
          .password.form-item
            label(for="pass" class="form-label") New Password*
            input#pass.form-control(type="password" name="password" placeholder="******" required)
          .re-password.form-item
            label(for="repass" class="form-label") Re-enter New Password*
            input#repass.form-control(type="password" name="confirm" placeholder="******" required)
          .form-btn
            button(type="submit" class="shop-btn") Update Password
            a.shop-btn.cancel-btn(href="#") Cancel
    .col-lg-6
      .reset-img.text-end
        img(src="clients/images/homepage-one/reset.webp" alt="reset")
